@mixin country-page-component {
  .country-container {
    padding: 38px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .country_navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & button {
      padding: 0;
    }
    & h2 {
      font-weight: 600;
      font-size: 26px;
    }
  }

  .country-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100vh;
  }

  .country-empty {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000 solid 1px;
  }

  .country-tabs {
    display: flex;
    align-items: center;
    gap: 16px;
    & button {
      padding: 4px 16px;
      border: 1px solid #f5f5f5;
      border-radius: 8px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    & button.active {
      border-color: #cccccc;
    }
  }
}
