@mixin country-page-component {
  .country-container {
    padding: 38px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .country-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100vh;
  }

  .country-empty {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000 solid 1px;
  }

  .country-tabs {
    display: flex;
    align-items: center;
    gap: 16px;
    & button {
      padding: 2px 15px;
      border: 1px solid #000;
    }

    & button.active {
      border: 2px solid #000;
    }
  }
}
