@mixin home-page-component {
  .home-container {
    padding: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 46px;
  }

  .home-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
