@mixin random-country-component {
  .random-country {
    cursor: pointer;
  }

  .random-name {
    color: #727272;
    font-size: 16px;
  }

  .random-holiday {
    font-size: 18px;
  }

  .random-date {
    color: #989898;
    font-size: 14px;
  }
}
