@mixin random-countries-component {
  .random-countries,
  .random-country,
  .holiday {
    padding: 16px;
    border: 1px solid #f5f5f5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #fff;
    border-radius: 8px;
  }
}
